/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant blue (&:where(.blue, .blue *));
@custom-variant blue-dark (&:where(.blue-dark, .blue-dark *));

@theme {
  /* --font-font: 'Montserrat', 'sans'; */
  /* Background */
  --color-bg: #fff;
  --color-bg-dark: #0f0f0f; /* 0a0a0a */ /*09090b*/

  /* Secondary */
  --color-scry-bg: #f7f6f6;
  --color-scry-bg-dark: #161616; /*#18181a*/ /*101011*/

  /* Standard Border */
  --color-border: #eee;
  --color-border-dark: #303030; /*#262626*/

  --color-scry-border: #939393;
  --color-scry-border-dark: #545454;

  /* Geometry */
  --radius-rounded: 16px;

  /* Standard Hover */
  --color-bg-hover: #d4d4d4;
  --color-bg-hover-dark: #222222;

  /* Text */
  --color-text: #18181b;
  --color-text-dark: #f0ede4;

  --color-text-muted: #71717a;
  --color-text-muted2: #9494aabe;

  --color-text-input-placeholder: #71717a;

  --color-text-error: #571e1e;
  --color-text-error-dark: #ce5a5a;

  --color-text-success: #20571e;
  --color-text-success-dark: #5ece5a;
  /* Button */
  --color-button-bg: #ececec;
  --color-button-bg-dark: #181818;

  --color-button-bg-hover: #dfdddd;
  --color-button-bg-hover-dark: #252525;

  --color-button-border: #dddddd;
  --color-button-border-dark: #303030;

  --color-button-border-hover: #c1c1c1;
  --color-button-border-hover-dark: #3b3b3b;

  --color-button-bg-error: #ffbebf;
  --color-button-bg-error-dark: #9f071280;

  --color-button-bg-error-hover: #ff9da2;
  --color-button-bg-error-hover-dark: #9f0712b3;

  --color-button-border-error: #fb2c36;
  --color-button-border-error-dark: #fb2c36bf;

  --color-button-border-error-hover: #e92c35;
  --color-button-border-error-hover-dark: #fb2c36;

  /* Input */
  --color-input-bg: #ececec85;
  --color-input-bg-dark: #18181880;

  --color-input-bg-hover: #dfdddd81;
  --color-input-bg-hover-dark: #25252579;

  --color-input-border: #dddddd;
  --color-input-border-dark: #303030;

  --color-input-border-hover: #c1c1c1;
  --color-input-border-hover-dark: #3b3b3b;

  --color-input-bg-error: #ffbebf;
  --color-input-bg-error-dark: #9f071280;

  --color-input-bg-error-hover: #ff9da2;
  --color-input-bg-error-hover-dark: #9f0712b3;

  --color-input-border-error: #fb2c36;
  --color-input-border-error-dark: #fb2c36bf;

  --color-input-border-error-hover: #e92c35;
  --color-input-border-error-hover-dark: #fb2c36;

  /* Scrollbar */
  --color-scrollbar-track: #eee;
  --color-scrollbar-track-dark: #555;

  --color-scrollbar-thumb: #ccc;
  --color-scrollbar-thumb-dark: #333;

  /* Warning */
  --color-warning-bg: #ffe5be;
  --color-warning-bg-dark: #25160e;

  --color-warning-border: #fb7f2c;
  --color-warning-border-dark: #663c15;
}

@layer base {
  html,
  body {
    @apply select-none;
    @apply antialiased;
    @apply overflow-hidden;
    @apply bg-transparent;
  }
  .drag-bar {
    -webkit-app-region: drag;
  }
  ::-webkit-scrollbar {
    @apply w-2;
    @apply h-3;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-button-bg;
    @apply border;
    @apply rounded-md;
    @apply border-button-border;
  }
  .dark ::-webkit-scrollbar-thumb {
    @apply bg-button-bg-dark;
    @apply border;
    @apply rounded-md;
    @apply border-button-border-dark;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-button-bg-hover;
    @apply border-button-border-hover;
    @apply cursor-grab;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply cursor-grabbing;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    @apply bg-button-bg-hover-dark;
    @apply border-button-border-hover-dark;
    @apply cursor-grab;
  }
  .dark ::-webkit-scrollbar-thumb:active {
    @apply cursor-grabbing;
  }
  ::-webkit-scrollbar-track {
    @apply bg-scry-bg;
  }
  .dark ::-webkit-scrollbar-track {
    @apply bg-scry-bg-dark;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  ::selection {
    @apply text-text-dark;
    @apply bg-bg-dark/50;
  }
  .dark ::selection {
    @apply text-text;
    @apply bg-bg/50;
  }
  .number-input input[type='number']::-webkit-inner-spin-button,
  .number-input input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .number-input input[type='number'] {
    -moz-appearance: textfield;
  }

  .recharts-wrapper *:focus {
    outline: none;
  }

  .recharts-wrapper *:focus-visible {
    outline: 2px solid #4f46e5; /* Optional: retain visible focus ring for keyboard users */
  }
}
